.gallery{
    display: inline-block;
    border: 1px solid hsl(0, 3%, 62%);
    margin: 5px;
    width: 200px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 1px solid hsl(0, 2%, 19%);
}
.gallery img{
    width: 100%;
    height: auto;
}