body{
    margin: 0;
}
#box1{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: greenyellow;

    /* transform: translateX(100px); */
    /* transform: translateY(100px); */
    /* transform: translate(100px,50px); */
    /* transform: rotateX(10deg); */
    /* transform: scaleX(4); */
    transform: skewX(-13deg);
}